In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [97]:
test_data = pd.read_csv(r"C:\Users\UNION\Documents\intercampusai2019\train.csv")

In [98]:
test_data.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0

In [99]:
test_data.columns

Index(['EmployeeNo', 'Division', 'Qualification', 'Gender',
       'Channel_of_Recruitment', 'Trainings_Attended', 'Year_of_birth',
       'Last_performance_score', 'Year_of_recruitment', 'Targets_met',
       'Previous_Award', 'Training_score_average', 'State_Of_Origin',
       'Foreign_schooled', 'Marital_Status', 'Past_Disciplinary_Action',
       'Previous_IntraDepartmental_Movement', 'No_of_previous_employers',
       'Promoted_or_Not'],
      dtype='object')

In [100]:
test_data1 = test_data.drop("EmployeeNo" ,axis=1)

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
label = LabelEncoder()

In [101]:
test_data1.columns

Index(['Division', 'Qualification', 'Gender', 'Channel_of_Recruitment',
       'Trainings_Attended', 'Year_of_birth', 'Last_performance_score',
       'Year_of_recruitment', 'Targets_met', 'Previous_Award',
       'Training_score_average', 'State_Of_Origin', 'Foreign_schooled',
       'Marital_Status', 'Past_Disciplinary_Action',
       'Previous_IntraDepartmental_Movement', 'No_of_previous_employers',
       'Promoted_or_Not'],
      dtype='object')

In [102]:
columns = ['Division', 'Qualification', 'Gender', 'Channel_of_Recruitment',
        'State_Of_Origin', 'Foreign_schooled',
       'Marital_Status', 'Past_Disciplinary_Action',
       'Previous_IntraDepartmental_Movement', 'No_of_previous_employers']

In [103]:
for col in columns:
    test_data1[col] = label.fit_transform(test_data1[col])

TypeError: '<' not supported between instances of 'str' and 'float'

In [104]:
test_data1.head()

,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,1,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,2,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,1,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,1,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,4,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0

In [116]:
columns = ['Division','Gender', 'Channel_of_Recruitment',
        'State_Of_Origin', 'Foreign_schooled',
       'Marital_Status', 'Past_Disciplinary_Action',
       'Previous_IntraDepartmental_Movement', 'No_of_previous_employers']

In [106]:
for col in columns:
    test_data1[col] = label.fit_transform(test_data1[col])

In [17]:
test_data1["Qualification"].isnull().sum()

1679

In [20]:
test_data1["Qualification"].unique()

array(['MSc, MBA and PhD', 'First Degree or HND', nan,
       'Non-University Education'], dtype=object)

In [107]:
test_data2 = test_data1.drop("Qualification",axis=1)

In [108]:
test_data2.head()

,Division,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,1,0,1,2,1986,12.5,2011,1,0,41,3,0,0,0,0,0,0
1,2,1,0,2,1991,12.5,2015,0,0,52,3,1,0,0,0,0,0
2,1,1,1,2,1987,7.5,2012,0,0,42,20,1,0,0,0,0,0
3,1,1,0,3,1982,2.5,2009,0,0,42,26,1,2,0,0,1,0
4,4,1,1,3,1990,7.5,2012,0,0,77,2,1,0,0,0,1,0

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
rfc = RandomForestClassifier()

In [25]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
import xgboost as xgb

In [54]:
test_data2.columns

Index(['Division', 'Gender', 'Channel_of_Recruitment', 'Trainings_Attended',
       'Year_of_birth', 'Last_performance_score', 'Year_of_recruitment',
       'Targets_met', 'Previous_Award', 'Training_score_average',
       'State_Of_Origin', 'Foreign_schooled', 'Marital_Status',
       'Past_Disciplinary_Action', 'Previous_IntraDepartmental_Movement',
       'No_of_previous_employers', 'Promoted_or_Not'],
      dtype='object')

In [109]:
ydata= test_data2['Promoted_or_Not']
xdata = test_data2.drop(['Promoted_or_Not'], axis = 1)

In [82]:
len(xdata['No_of_previous_employers'])

38312

In [83]:
def nope():
    for i in range(len(xdata['No_of_previous_employers'])):
        if xdata.loc[i, 'No_of_previous_employers']=='1':
             xdata.loc[i, 'No_of_previous_employers']=1
        if xdata.loc[i, 'No_of_previous_employers']=='2':
             xdata.loc[i, 'No_of_previous_employers']=2
        if xdata.loc[i, 'No_of_previous_employers']=='3':
             xdata.loc[i, 'No_of_previous_employers']=3
        if xdata.loc[i, 'No_of_previous_employers']=='4':
             xdata.loc[i, 'No_of_previous_employers']=4
        if xdata.loc[i, 'No_of_previous_employers']=='5':
             xdata.loc[i, 'No_of_previous_employers']=5
        if xdata.loc[i, 'No_of_previous_employers']=='6':
             xdata.loc[i, 'No_of_previous_employers']=6
                
    return xdata

In [84]:
xdata1=nope()

In [110]:
xdata['No_of_previous_employers'].unique()

array([0, 1, 4, 3, 2, 6, 5], dtype=int64)

In [86]:
def nope1():
    for i in range(len(xdata['No_of_previous_employers'])):
        if xdata1.loc[i, 'No_of_previous_employers']=='0':
             xdata1.loc[i, 'No_of_previous_employers']=0
        if xdata1.loc[i, 'No_of_previous_employers']=='More than 5':
             xdata1.loc[i, 'No_of_previous_employers']=6            
    return xdata1

In [88]:
xdata2=nope1()

In [89]:
xdata2['No_of_previous_employers'].unique()

array([0, 1, 4, 3, 2, 6, 5], dtype=int64)

In [111]:
data_dmatrix = xgb.DMatrix(data=xdata,label=ydata)

In [205]:
xg = xgb.XGBClassifier(objective ='reg:logistic', colsample_bytree = 0.5, learning_rate = 0.1,
                max_depth = 7, alpha = 10, n_estimators = 700, )

In [206]:
xg.fit(xdata,ydata)

XGBClassifier(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.5, gamma=0,
       learning_rate=0.01, max_delta_step=0, max_depth=7,
       min_child_weight=1, missing=None, n_estimators=700, n_jobs=1,
       nthread=None, objective='reg:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [117]:
tdata = pd.read_csv(r"C:\Users\UNION\Documents\intercampusai2019\test.csv")

In [118]:
tdata1 = tdata.drop("EmployeeNo" ,axis=1)

In [119]:
tdata1.columns

Index(['Division', 'Qualification', 'Gender', 'Channel_of_Recruitment',
       'Trainings_Attended', 'Year_of_birth', 'Last_performance_score',
       'Year_of_recruitment', 'Targets_met', 'Previous_Award',
       'Training_score_average', 'State_Of_Origin', 'Foreign_schooled',
       'Marital_Status', 'Past_Disciplinary_Action',
       'Previous_IntraDepartmental_Movement', 'No_of_previous_employers'],
      dtype='object')

In [120]:
for col in columns:
    tdata1[col] = label.fit_transform(tdata1[col])

In [121]:
tdata2 = tdata1.drop("Qualification",axis=1)

In [122]:
tdata2.head()

,Division,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,3,1,0,2,1976,7.5,2017,0,0,65,14,1,0,0,0,1
1,3,1,1,2,1991,0.0,2018,0,0,69,27,1,0,0,0,1
2,7,1,1,2,1984,7.5,2012,0,0,76,19,1,0,0,0,1
3,2,1,0,2,1984,2.5,2009,0,0,52,32,0,2,0,0,1
4,3,1,0,2,1983,7.5,2014,1,0,69,14,1,0,0,0,0

In [207]:
prexbg = xg.predict(tdata2)

In [143]:
m = GradientBoostingClassifier(n_estimators = 5000, learning_rate = 0.001, loss='exponential', subsample =0.5, max_depth = 10, min_samples_leaf=6, max_features=7, warm_start=True)
ada = AdaBoostClassifier(DecisionTreeClassifier(max_leaf_nodes = 100, random_state = 100, criterion = 'entropy', max_depth = 7,class_weight={1:5}),learning_rate=0.01, n_estimators=100 )

In [145]:
ada.fit(xdata,ydata)

AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=DecisionTreeClassifier(class_weight={1: 5}, criterion='entropy', max_depth=7,
            max_features=None, max_leaf_nodes=100,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best'),
          learning_rate=0.01, n_estimators=100, random_state=None)

In [146]:
preada = ada.predict(tdata2)

In [201]:
prexbg

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [155]:
tdata.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,YAK/S/00005,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1976,7.5,2017,0,0,65,FCT,Yes,Married,No,No,1
1,YAK/S/00011,Information Technology and Solution Support,NaN,Male,Direct Internal process,2,1991,0.0,2018,0,0,69,OGUN,Yes,Married,No,No,1
2,YAK/S/00015,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1984,7.5,2012,0,0,76,KANO,Yes,Married,No,No,1
3,YAK/S/00016,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,2.5,2009,0,0,52,RIVERS,No,Single,No,No,1
4,YAK/S/00017,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1983,7.5,2014,1,0,69,FCT,Yes,Married,No,No,0

In [208]:
submission = {}
submission['EmployeeNo'] = tdata['EmployeeNo']
submission['Promoted_or_Not'] = prexbg
submissionDSN= pd.DataFrame(submission)
submissionDSN.to_csv('submissionDSN10.csv', index = False)

In [209]:
sdata = pd.read_csv(r"C:\Users\UNION\submissionDSN10.csv")

In [210]:
sdata

        EmployeeNo  Promoted_or_Not
0      YAK/S/00005                0
1      YAK/S/00011                0
2      YAK/S/00015                0
3      YAK/S/00016                0
4      YAK/S/00017                0
5      YAK/S/00019                0
6      YAK/S/00027                0
7      YAK/S/00028                0
8      YAK/S/00031                0
9      YAK/S/00032                0
10     YAK/S/00034                0
11     YAK/S/00038                0
12     YAK/S/00040                0
13     YAK/S/00041                0
14     YAK/S/00043                0
15     YAK/S/00045                0
16     YAK/S/00047                0
17     YAK/S/00049                0
18     YAK/S/00050                0
19     YAK/S/00051                0
20     YAK/S/00058                0
21     YAK/S/00060                0
22     YAK/S/00063                0
23     YAK/S/00067                0
24     YAK/S/00069                0
25     YAK/S/00072                0
26     YAK/S/00080                0
27     YAK/S/00083                0
28     YAK/S/00084                0
29     YAK/S/00088                0
...            ...              ...
16466  YAK/S/54726                0
16467  YAK/S/54738                0
16468  YAK/S/54742                0
16469  YAK/S/54743                0
16470  YAK/S/54744                0
16471  YAK/S/54748                0
16472  YAK/S/54752                0
16473  YAK/S/54754                0
16474  YAK/S/54755                0
16475  YAK/S/54757                0
16476  YAK/S/54758                0
16477  YAK/S/54760                0
16478  YAK/S/54762                1
16479  YAK/S/54767                0
16480  YAK/S/54768                0
16481  YAK/S/54773                0
16482  YAK/S/54776                0
16483  YAK/S/54778                0
16484  YAK/S/54780                0
16485  YAK/S/54782                0
16486  YAK/S/54784                0
16487  YAK/S/54785                0
16488  YAK/S/54787                0
16489  YAK/S/54792                0
16490  YAK/S/54795                0
16491  YAK/S/54797                1
16492  YAK/S/54798                0
16493  YAK/S/54800                0
16494  YAK/S/54803                0
16495  YAK/S/54804                0

[16496 rows x 2 columns]

ModuleNotFoundError: No module named 'imblearn'